name: kk-schedule
services:
  kk-schedule:
    image: cruvie/kk-schedule:latest
    container_name: kk-schedule
    restart: unless-stopped
    environment:
      KK_Schedule: "prod"
    ports:
      - "8666:8666"
      - "8667:8667"
      - "8668:8668"
    volumes:
      - ./config.yml:/kk-schedule/config.yml

  test-etcd:
    image: quay.io/coreos/etcd:v3.6.4
    container_name: test-etcd
    command:
      [
        "/usr/local/bin/etcd",
        "--data-dir=/etcd-data",
        "--name=node1",
        "--initial-advertise-peer-urls=http://test-etcd:2380",
        "--listen-peer-urls=http://0.0.0.0:2380",
        "--advertise-client-urls=http://test-etcd:2379",
        "--listen-client-urls=http://0.0.0.0:2379",
        "--initial-cluster=node1=http://test-etcd:2380"
      ]
    restart: unless-stopped
    ports:
      - "2379:2379"
      - "2380:2380"
    volumes:
      - ./etcd/data:/etcd-data